@{
ViewData["Title"] = "Terms Of Use";
}

<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3">
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <ul class="navbar-nav ms-md-auto pe-md-3 d-flex">
                <li class="nav-item d-flex align-items-center">
                    <partial name="_LoginPartial" />
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->
<!-- Start of Body -->
<div class="container-fluid py-4">
    <div class="mx-5 my-5 px-5 py-5">
        <h1>
            Terms Of Use
            <br />
        </h1>
        <h5><span style="color: #000000; font-size: 15px; font-weight: bolder;">Last updated April 02, 2023</span></h5>
        Welcome to the ProjectWebLearn website (the "Website").
        <p style="text-align: justify;">ProjectWebLearn provides this Website and Services (located at ProjectWebLearn) to you subject to the notices, terms, and conditions set forth in these terms (the "Terms of Use"). In addition, when you use any of our Services, you will be subject to the rules, guidelines, policies, terms, and conditions applicable to such service, and they are incorporated into this Terms of Use by this reference.</p>
        These Terms of Use are effective as of September 18, 2020.

        Your eligibility for use of the Website is contingent upon meeting the following conditions:
        <ul>
            <li>You are at least 18 years of age</li>
            <li>You use the Website and Services according to these Terms of Use and all applicable laws and regulations determined by the state and country of residence</li>
            <li>You provide complete and accurate registration information and maintain accurate registration information on the Website</li>
            <li>You agree and understand that ProjectWebLearn may, at any time, and without prior notice, revoke and/or cancel your access if you fail to meet these criteria or violate any portion of these Terms of Use</li>
        </ul>
        <h3>Use of this Website</h3>
        <p style="text-align: justify;">In connection with your use of our Website, you must act responsibly and exercise good judgment. Without limiting the foregoing, you will not:</p>

        <ul>
            <li>Violate any local, state, provincial, national, or other law or regulation, or any order of a court</li>
            <li>Infringe the rights of any person or entity, including without limitation, their intellectual property, privacy, publicity or contractual rights</li>
            <li>Interfere with or damage our Services, including, without limitation, through the use of viruses, cancel bots, Trojan horses, harmful code, flood pings, denial-of-service attacks, packet or IP spoofing, forged routing or electronic mail address information or similar methods or technology</li>
            <li>Use automated scripts to collect information or otherwise interact with the Services or the Website</li>
            <li>Enter into this agreement on behalf of another person or entity without consent or the legal capacity to make such agreements as a representative of an organization or entity</li>
        </ul>
        <h3>Intellectual Property</h3>
        <p style="text-align: justify;">All code, text, software, scripts, graphics, files, photos, images, logos, and materials contained on this Website, or within the Services, are the sole property of ProjectWebLearn.</p>
        Unauthorized use of any materials contained on this Website or within the Service may violate copyright laws, trademark laws, the laws of privacy and publicity, and/or other regulations and statutes. If you believe that any of the materials infringe on any third party's rights, please contact ProjectWebLearn immediately at the address provided below.
        <h3>Third Party Websites</h3>
        <p style="text-align: justify;">Our Website may link you to other sites on the Internet or otherwise include references to information, documents, software, materials and/or services provided by other parties. These websites may contain information or material that some people may find inappropriate or offensive.</p>
        These other websites and parties are not under our control, and you acknowledge that we are not responsible for the accuracy, copyright compliance, legality, decency, or any other aspect of the content of such sites, nor are we responsible for errors or omissions in any references to other parties or their products and services. The inclusion of such a link or reference is provided merely as a convenience and does not imply endorsement of, or association with, the Website or party by us, or any warranty of any kind, either express or implied.
        <h3>Disclaimer of Warranty and Limitation of Liability</h3>
        <p style="text-align: justify;">The Website is provided "AS IS." appfigures, its suppliers, officers, directors, employees, and agents exclude and disclaim all representations and warranties, express or implied, related to this Website or in connection with the Services. You exclude ProjectWebLearn from all liability for damages related to or arising out of the use of this Website.</p>

        <h3>Changes to these Terms of Use</h3>
        <p style="text-align: justify;">ProjectWebLearn retains the right to, at any time, modify or discontinue, any or all parts of the Website without notice.</p>
        Additionally, ProjectWebLearn reserves the right, in its sole discretion, to modify these Terms of Use at any time, effective by posting new terms on the Website with the date of modification. You are responsible for reading and understanding the terms of this agreement prior to registering with, or using the Service. Your use of the Website and/or Services after any such modification has been published constitutes your acceptance of the new terms as modified in these Terms of Use.
        <h3>Governing Law</h3>
        <p style="text-align: justify;">These Terms of Use and any dispute or claim arising out of, or related to them, shall be governed by and construed in accordance with the internal laws of the Federal Republic of Nigeria without giving effect to any choice or conflict of law provision or rule.</p>
        Any legal suit, action or proceeding arising out of, or related to, these Terms of Use or the Website shall be instituted exclusively in the federal courts of Nigeria.
        <h3>Feedback and Information</h3>
        Any feedback you provide at this site shall be deemed to be non-confidential. ProjectWebLearn shall be free to use such information on an unrestricted basis.

        <em>The information contained in this web site is subject to change without notice.</em>
    </div>
</div>
<!-- End of Body -->
<partial name="_FooterCopyright" />