
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<footer class="main-footer">
    ©
    <script>
        document.write(new Date().getFullYear())
    </script>
    <a class="navbar-brand m-0 font-weight-bold" asp-controller="Dashboard" asp-action="Index">
        ProjectWebLearn.
    </a>
    All Rights Reserved.
    <div class="float-right d-none d-sm-inline-block">
        <a class="nav-link text-center text-sm text-muted text-lg-start ms-1" asp-controller="Privacy" asp-action="Index" target="_blank">Privacy & Cookies &nbsp;&nbsp;&nbsp;</a>
    </div>
    <div class="float-right d-none d-sm-inline-block">
        <a class="nav-link text-center text-sm text-muted text-lg-start ms-1" asp-controller="Terms" asp-action="Index" target="_blank">Terms of Use</a>
    </div>
</footer>