@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}
<div class="container-fluid py-5 mt-5">
    <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
            <div class="card z-index-0 fadeIn3 fadeInBottom">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                        <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">ProjectWebLearn - Login</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form role="form" class="text-start" id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <label asp-for="Input.Email" class="form-label">Email</label>
                        <div class="input-group input-group-outline mb-3">
                            <input asp-for="Input.Email" type="email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <label asp-for="Input.Password" class="form-label">Password</label>
                        <div class="input-group input-group-outline mb-3">
                            <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-check form-switch d-flex align-items-center mb-3">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" type="checkbox" id="rememberMe" checked asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                        </div>
                        <p class="mt-4 text-sm text-center">
                            Don't have an account?
                            <a class="text-primary text-gradient font-weight-bold" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </p>
                        <div>
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                            </p>
                            <p>
                                <a asp-controller="AppRoles" asp-action="Index">Add Roles</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
